<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="SERVER=SQLSERV1;DATABASE=GIPAP;PWD=Deadmonds1;UID=tmf_user; Connect Timeout=0;"/>
    <add key="connTMF_DB" value="SERVER=SQLSERV1;User ID=tmf_user;Password=Deadmonds1;DATABASE=TMF;"/>
    <add key="connPS" value="SERVER=SQLSERV1;User ID=tmf_user;Password=Deadmonds1;DATABASE=PatientServices;"/>
    <add key="ConnTIPAP" value="SERVER=SQLSERV1;DATABASE=TIPAP;User ID=tmf_user;Password=Deadmonds1; Connect Timeout=0;"/>
    <add key="ConnMYPAP" value="SERVER=SQLSERV1;DATABASE=MYPAP;User ID=tmf_user;Password=Deadmonds1; Connect Timeout=0;"/>
    <add key="ConnNPS" value="SERVER=SQLSERV1;DATABASE=NPS;PWD=Deadmonds1;UID=tmf_user; Connect Timeout=0;"/>
    <add key="ConnectionString" value="SERVER=(local)\SQLExpress;DATABASE=GIPAPTest; Trusted_Connection=True; Connect Timeout=0"></add>
    <add key="connTMF_DB" value="SERVER=SQLSERV1;User ID=tmf_user;Password=Deadmonds1;DATABASE=TMF;"/>
    <add key="connPS" value="SERVER=(local)\SQLExpress;DATABASE=PatientServicesTest; Trusted_Connection=True; Connect Timeout=0"/>-->

    <add key="ConnectionString" value="SERVER=WKS7;DATABASE=GIPAP;PWD=Deadmonds1;UID=sa; Connect Timeout=0;"></add>
    <add key="connTMF_DB" value="SERVER=SQLSERV1;User ID=tmf_user;Password=Deadmonds1;DATABASE=TMF;"/>
    <add key="connPS" value="SERVER=WKS7;User ID=sa;Password=Deadmonds1;DATABASE=PatientServices;" />
    <add key="ConnTIPAP" value="SERVER=WKS7;DATABASE=TIPAP;User ID=sa;Password=Deadmonds1; Connect Timeout=0;"/>
    <add key="ConnMYPAP" value="SERVER=WKS7;DATABASE=MYPAP;User ID=sa;Password=Deadmonds1; Connect Timeout=0;"/>
    <add key="ConnNPS" value="SERVER=WKS7;DATABASE=NPS;PWD=Deadmonds1;UID=sa; Connect Timeout=0;"/>

    <!--<add key="ConnectionString" value="SERVER=TESTSERV1;DATABASE=GIPAP;PWD=Deadmonds1;UID=sa; Connect Timeout=0;"></add>
    <add key="connTMF_DB" value="SERVER=TESTSERV1;User ID=tmf_user;Password=Deadmonds1;DATABASE=TMF;"/>
    <add key="connPS" value="SERVER=TESTSERV1;User ID=sa;Password=Deadmonds1;DATABASE=PatientServices;" />
    <add key="ConnTIPAP" value="SERVER=TESTSERV1;DATABASE=TIPAP;User ID=sa;Password=Deadmonds1; Connect Timeout=0;"/>
    <add key="ConnMYPAP" value="SERVER=TESTSERV1;DATABASE=MYPAP;User ID=sa;Password=Deadmonds1; Connect Timeout=0;"/>
    <add key="ConnNPS" value="SERVER=TESTSERV1;DATABASE=NPS;PWD=Deadmonds1;UID=sa; Connect Timeout=0;"/>-->
    <add key="PartialUpdatePanel.EncryptionKey" value="k39#9sn1"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="gipap@themaxfoundation.org">
        <network enableSsl="true"  host="smtp.office365.com" userName="gipap@themaxfoundation.org" password="SharedMailbox1" port="587" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings/>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <customErrors mode="Off" defaultRedirect="../PATS/Error/DefaultError.aspx"/>
    <httpHandlers>
      <add verb="*" path="*.ashx" validate="false" type="iucon.web.Controls.PartialUpdatePanelHandler"/>
      <add verb="*" path="PartialUpdatePanelLoader.ashx" validate="false" type="iucon.web.Controls.PartialUpdatePanelHandler"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>