/** BEGIN top navigation **/
#top_nav 
{
    height: 40px;
	padding-top: 7px;
}

#top_nav li {
    list-style-type: none;
	float: left;
    text-transform: uppercase;
	font-size: 1em;
}

#top_nav li a {
    display: block;
	text-decoration: none;
	color: #09497A;
	padding: 10px 12px;
	border-width: 1px 1px;
	border-style: solid;
	border-color: #EEEEEE;
}

#top_nav li a:hover {
    text-decoration: none;
	color: #FF9B15;
}
#top_nav .search
{
    position:relative;
    top:6px;
    left:100px;
}
